# NetBox
ALLOWED_HOSTS=localhost 127.0.0.1
SECRET_KEY= #needs a random one, use: openssl rand -base64 50
DEBUG=False
TIME_ZONE=UTC
LOGIN_REQUIRED=True

# PostgreSQL
DB_HOST=postgres
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=netbox-db-pass
DB_PORT=5432
DB_SSLMODE=disable

# Redis (task queue)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=netbox-redis-pass
REDIS_DATABASE=0
REDIS_SSL=False

# Redis (cache)
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PORT=6379
REDIS_CACHE_PASSWORD=netbox-cache-pass
REDIS_CACHE_DATABASE=1
REDIS_CACHE_SSL=False
